.registration {
    @include background-image(/images/v2/landing-background-darken, jpg, cover, center, no-repeat, false);
    .main {
        padding: 20px 10px;

        @include breakpoint(phablet) {
            padding: 20px 0;
        }

        .official-logo{
            margin-left: 60px;
        }

        h1 {
            margin-left: 90px;
            font-weight: normal;

            @include breakpoint(phablet) {
                text-align: center;
                margin-left: 0;
            }
        }

        &-inner {
            margin: 0 auto;
            max-width: 950px;

            .form-registration {
                background-color: rgba(0,0,0, .7);
                padding: 30px 20px;

                .col-6 {
                    padding: 0;
                }

                .checkbox-holder {
                    background-color: rgba(69,69,69, .5);
                    padding: 10px 40px;

                    @include breakpoint(tablet) {
                        margin-bottom: 30px;
                    }

                    &-title {
                        color: #fff94c;
                        font-weight: bold;
                        margin-bottom: 50px;
                        width: 70%;

                        @include breakpoint(tablet) {
                            width: 100%;
                        }
                    }

                    .checkbox {
                        font-weight: bold;
                        margin-bottom: 20px;

                        input {
                            -webkit-appearance: checkbox;
                            -moz-appearance: checkbox;
                            appearance: checkbox;

                            float: left;
                            height: 20px;
                            margin-top: 5px;
                            width: 20px;

                            &[type=checkbox] {
                              /* Double-sized Checkboxes */
                              -ms-transform: scale(1.4); /* IE */
                              -moz-transform: scale(1.4); /* FF */
                              -webkit-transform: scale(1.4); /* Safari and Chrome */
                              -o-transform: scale(1.4); /* Opera */
                              padding: 10px;
                            }
                        }

                        p {
                            display: inline-block;
                            float: right;
                            line-height: 1.8;
                            margin-top: 0;
                            width: calc(100% - 30px);
                        }

                        a {
                            text-decoration: underline;
                        }
                    }
                }

                .fields-holder {
                    padding-left: 30px;

                    @include breakpoint(phablet) {
                        padding-left: 0;
                    }

                    .btn-fb {
                        @include box-sizing(border-box);
                        background-color: #3b5998;
                        margin-bottom: 15px;
                        text-align: center;
                        text-transform: uppercase;
                        width: 100%;

                        &:hover {
                            background-color: #1d3770;
                            color: #fff;
                        }

                        span {
                            @include background-image(/images/v2/fb-logo, png, 100%, center, no-repeat, false);
                            display: inline-block;
                            height: 20px;
                            margin-bottom: -5px;
                            margin-right: 10px;
                            width: 20px;
                        }
                    }

                    input {
                        @include border-radius(5px);
                        box-sizing: border-box;
                        border: none;
                        margin-bottom: 15px;
                        padding: 12px;
                        width: 100%;
                    }

                    .sod_select {
                        @include border-radius(5px);
                        margin-bottom: 15px;
                        padding: 14px;

                        .sod_list {
                            height: 150px;
                        }
                    }

                    .submit-btn {
                        color: #fff;
                        text-transform: uppercase;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}